h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #2a3744;
}

h1,
.h1 {
  font-size: 56px;
  line-height: 64px;
}

h1.large {
  font-size: 72px;
  line-height: 80px;
  font-weight: 100;
}

.bg-dark {background: #2a3744;}
nav.bg-dark .menu > li > a,
nav.bg-dark .module.widget-handle i,
nav.bg-dark .nav-utility {
  color: #c0ccdb;
  opacity: .7;
}
.menu > li ul {
  width: 200px;
  padding: 8px 0;
  background: #2A3744;
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 10px, 0);
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  visibility: hidden;
  margin-top: -1px;
}
.menu li a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #292929;
  opacity: 0.5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
/*!---------- 5. SECTIONS ----------*/
section,
footer {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}