---
layout: default
---

<section class="image-bg parallax overlay">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="img/shaman.jpg">
                </div>
                <div class="container">
                    <div class="col-md-8 col-sm-10 text-left">
                        <h1>Igor website project</h1>
                        <h6 class="uppercase mb16">A timeless design to be proud of</h6>
                        <p class="lead mb40">Teme s kojima se susrecu web dizajneri. </p>
                        <a class="btn-lg btn" href="#">Explore webbuild</a>
                    </div>
                </div>
                
            </section>
<section class="bg-secondary">
                <div class="container">
                <h2>Category page/post show limit:3</h2>
                    <div class="row masonry-loader">
                        <div class="col-sm-12 text-center">
                            <div class="spinner"></div>
                        </div>
                    </div>
                    <div class="row masonry masonryFlyIn mb40">
                         {% for css in site.categories.css limit:3 %}
                        <div class="col-sm-4 post-snippet masonry-item">
                            <a href="{{site.baseurl}}{{css.url}}">
                                <img alt="Post Image" src="{{site.baseurl}}/img/{{css.image}}" />
                            </a>
                            <div class="inner">
                                <a href="#">
                                    <h5 class="mb0"><a href="{{site.baseurl}}{{css.url}}">{{css.title}}</a></h5>
                                    <span class="inline-block mb16">September 23, 2015</span>
                                </a>
                                <hr>
                                <p>{{css.meta}} </p>
                                <a class="btn btn-sm" href="{{site.baseurl}}{{css.url}}">Read More</a>
                                <ul class="tags pull-right">
                                    <li>
                                        <a class="btn btn-sm btn-icon" href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-sm btn-icon" href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        <!--end of snippet-->
                    </div>
                    <!--end of row-->

      <section class="bg-primary pt120 pb120 pt-xs-80 pb-xs-80">
                <div class="container">
                    <div class="row">
                    <h2 class="mb40 mb-xs-24 text-center">List of Igor posts on Soundcloud</h2>
                        <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0">
                            <h2 class="uppercase mb40 mb-xs-24 text-center">Category /CSS/</h2>
                            <hr class="mb40 mb-xs-24 fade-half">                  
                            <ul>
                            {% for html in site.categories.html limit:3 %}
                                <li class="mb40 mb-xs-24">
                                    <div class="overflow-hidden mb32">
                                        <div class="col-sm-4">
                                            <h4 class="uppercase pt8"><a href="{{site.baseurl}}{{html.url}}">{{html.title}}</a></h4>
                                        </div>
                                        <div class="col-sm-4">
                                            <h6 class="uppercase mb0">{{html.author}}</h6>
                                            <span>Rod Laver Arena</span>
                                        </div>
                                    
                                        <div class="col-sm-4 text-right">
                                            <a class="btn btn-sm btn-white mt8" href="{{site.baseurl}}{{html.url}}">Get Tickets</a>
                                        </div>
                                    </div>
                                    <hr class="fade-half mb0">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0">
                            <h2 class="uppercase mb40 mb-xs-24 text-center">Hear Us</h2>
                            <hr class="mb40 mb-xs-24 fade-half">
                           
                        <img alt="image" class="background-image" src="img/small2.jpg">
              
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </section>                  
           <section class="bg-secondary">
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                            <div class="embed-video-container embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/120433187?badge=0&amp;title=0&amp;byline=0&amp;title=0"></iframe>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                            <h3>Design that looks less 'theme' and more you.</h3>
                            <p>
                                Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.
                            </p>
                        </div>
                    </div>
                    
                </div>
                
            </section>
            <section class="bg-secondary">
                <div class="container">
                    <div class="col-md-4 col-sm-5">
                            <h3>Design that looks less 'theme' and more you.</h3>
                            <p>
                                iCoder offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.
                            </p>
                        </div>
                        <div class="col-md-8 col-sm-6 text-center mb-xs-24">
                             <div class="embed-holder">
                                <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/9016594&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                            </div>
                </div>
                    </div>
                        
                
            </section>
