  <ul class="menu {{include.navclass}}">
       <li class="has-dropdown"><a href="{{site.baseurl}}/">Kategorije</a>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a href="#">Poezija</a>
                                            <ul>
                                                <li>
                                                    <a href="portfolio-grid-2col.html">
                                                        2 Columns
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-grid.html">
                                                        3 Columns
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-grid-4col.html">
                                                        4 Columns
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">Inspiracija </a>
                                            <ul>
                                                <li><a href="portfolio-wide-2col.html"> 2 Columns</a></li>
                                                <li><a href="portfolio-wide-2col.html"> 2 Columns</a></li>
                                            </ul>
                                        </li>
                                       <li class="has-dropdown">
                                            <a href="portfolio-parallax.html">UI</a>
                                            <ul>
                                                <li><a href="portfolio-single-1.html">Tipografija</a></li>
                                                <li><a href="portfolio-single-1.html">Forme</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">Grafika </a>
                                             <ul>
                                                <li><a href="portfolio-single-1.html">Font</a></li>
                                                <li><a href="portfolio-single-1.html">Icon</a></li>
                                                <li><a href="portfolio-single-1.html">Vector</a></li>
                                            </ul>
                                        </li>
                                          <li class="has-dropdown">
                                            <a href="#">Hosting</a>
                                             <ul>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                            </ul>
                                        </li>
                                         <li class="has-dropdown">
                                            <a href="#">Templates</a>
                                             <ul>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">CMS</a>
                                             <ul>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                                <li><a href="portfolio-single-1.html">Case Study 1</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
       <li class="has-dropdown"><a href="{{site.baseurl}}/webdizajn/">Work</a></li>
                                <li class="has-dropdown"><a href="{{site.baseurl}}/freebies/">Freebies</a></li>
                                <li class="has-dropdown"><a href="#">News</a></li>

                            </ul>
