---
layout: default
---

<section class="page-title page-title-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="tiny uppercase mb0">{{page.title}}</h1>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                </li>
                                <li class="active">Project Title</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="pt0 pb40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Author:</span>
                            <h6 class="uppercase mb0">{{page.author}}</h6>
                        </div>
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Size MB:</span>
                            <h6 class="uppercase mb0">{{page.size}}</h6>
                        </div>
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Source:</span>
                            <h6 class="uppercase mb0">{{page.source}}</h6>
                        </div>
                        <div class="col-sm-3 col-xs-6 mb-xs-24">
                            <span>Category:</span>
                            <h6 class="uppercase mb0">Rebranding</h6>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h2 class="uppercase mb16">The Brief</h2>
                            <p class="lead mb48">{{page.lead}}</p>
                            <p>
                              {{content}}
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row mb80 mb-xs-40">
                        <div class="col-sm-6 mb-xs-16">
                            <img alt="Project Image" src="{{site.baseurl}}/img/project-case-study-2.jpg">
                        </div>
                        <div class="col-sm-6">
                            <img alt="Project Image" src="{{site.baseurl}}/img/project-case-study-3.jpg">
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row mb80 mb-xs-40">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h6 class="uppercase">An Additional Description</h6>
                            <p class="lead">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row mb80 mb-xs-24">
                        <div class="col-sm-12 text-center">
                            <img alt="Project Image" src="{{site.baseurl}}/img/project-case-study-4.jpg">
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h2 class="uppercase mb16">The Result</h2>
                            <p class="lead mb48">An 80% increase in sales for Medium Rare.</p>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>