---
layout: default
---

<section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder fadeIn" >
                    <img alt="Background Image" class="background-image" src="img/cover12.jpg" style="display: none;">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="uppercase mb0">HTML articles / clanci</h1>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Category</a>
                                </li>
                                <li class="active">Services</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
{{content}}